{"openapi":"3.0.1","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"http://api.enora-oah.eu","description":"Generated server url"}],"paths":{"/api/submissions/semi-structured/pharmaceuticals":{"get":{"tags":["Semi-Structured Submissions"],"summary":"Get all semi-structured pharmaceutical submissions","operationId":"getPharmaceuticalSubmissions","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"put":{"tags":["Semi-Structured Submissions"],"summary":"Insert new pharmaceutical submissions","operationId":"putPharmaceuticalSubmissions","requestBody":{"content":{"application/json":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}},"post":{"tags":["Semi-Structured Submissions"],"summary":"Edit an existing pharmaceutical submission","operationId":"editPharmaceuticalSubmission","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}},"delete":{"tags":["Semi-Structured Submissions"],"summary":"Delete existing pharmaceutical submissions","operationId":"deletePharmaceuticalSubmissions","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/submissions/semi-structured/nutrients":{"get":{"tags":["Semi-Structured Submissions"],"summary":"Get all semi-structured nutrient submissions","operationId":"getNutrientSubmissions","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"put":{"tags":["Semi-Structured Submissions"],"summary":"Insert new nutrient submissions","operationId":"putNutrientSubmissions","requestBody":{"content":{"application/json":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}},"post":{"tags":["Semi-Structured Submissions"],"summary":"Edit an existing nutrient submission","operationId":"editNutrientSubmission","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}},"delete":{"tags":["Semi-Structured Submissions"],"summary":"Delete existing nutrient submissions","operationId":"deleteNutrientSubmissions","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/submissions/semi-structured/minv":{"get":{"tags":["Semi-Structured Submissions"],"summary":"Get all semi-structured minv submissions","operationId":"getMinvSubmissions","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"put":{"tags":["Semi-Structured Submissions"],"summary":"Insert new minv submissions","operationId":"putMinvSubmissions","requestBody":{"content":{"application/json":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}},"post":{"tags":["Semi-Structured Submissions"],"summary":"Edit an existing minv submission","operationId":"editMinvSubmission","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}},"delete":{"tags":["Semi-Structured Submissions"],"summary":"Delete existing minv submissions","operationId":"deleteMinvSubmissions","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/submissions/semi-structured/microbiomes":{"get":{"tags":["Semi-Structured Submissions"],"summary":"Get all semi-structured microbiome submissions","operationId":"getMicrobiomeSubmissions","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"put":{"tags":["Semi-Structured Submissions"],"summary":"Insert new microbiome submissions","operationId":"putMicrobiomeSubmissions","requestBody":{"content":{"application/json":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}},"post":{"tags":["Semi-Structured Submissions"],"summary":"Edit an existing microbiome submission","operationId":"editMicrobiomeSubmission","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}},"delete":{"tags":["Semi-Structured Submissions"],"summary":"Delete existing microbiome submissions","operationId":"deleteMicrobiomeSubmissions","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/submissions/semi-structured/fish":{"get":{"tags":["Semi-Structured Submissions"],"summary":"Get all semi-structured fish submissions","operationId":"getFishSubmissions","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"put":{"tags":["Semi-Structured Submissions"],"summary":"Insert new fish submissions","operationId":"putFishSubmissions","requestBody":{"content":{"application/json":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}},"post":{"tags":["Semi-Structured Submissions"],"summary":"Edit an existing fish submission","operationId":"editFishSubmission","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}},"delete":{"tags":["Semi-Structured Submissions"],"summary":"Delete existing fish submissions","operationId":"deleteFishSubmissions","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/submissions/semi-structured/diptera":{"get":{"tags":["Semi-Structured Submissions"],"summary":"Get all semi-structured diptera submissions","operationId":"getDipteraSubmissions","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"put":{"tags":["Semi-Structured Submissions"],"summary":"Insert new diptera submissions","operationId":"putDipteraSubmissions","requestBody":{"content":{"application/json":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}},"post":{"tags":["Semi-Structured Submissions"],"summary":"Edit an existing diptera submission","operationId":"editDipteraSubmission","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}},"delete":{"tags":["Semi-Structured Submissions"],"summary":"Delete existing diptera submissions","operationId":"deleteDipteraSubmissions","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/submissions/semi-structured/diatoms":{"get":{"tags":["Semi-Structured Submissions"],"summary":"Get all semi-structured diatom submissions","operationId":"getDiatomSubmissions","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"put":{"tags":["Semi-Structured Submissions"],"summary":"Insert new diatom submissions","operationId":"putDiatomSubmissions","requestBody":{"content":{"application/json":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}},"post":{"tags":["Semi-Structured Submissions"],"summary":"Edit an existing diatom submission","operationId":"editDiatomSubmission","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}},"delete":{"tags":["Semi-Structured Submissions"],"summary":"Delete existing diatom submissions","operationId":"deleteDiatomSubmissions","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/submissions/semi-structured/birds":{"get":{"tags":["Semi-Structured Submissions"],"summary":"Get all semi-structured bird submissions","operationId":"getBirdSubmissions","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"put":{"tags":["Semi-Structured Submissions"],"summary":"Insert new bird submissions","operationId":"putBirdSubmissions","requestBody":{"content":{"application/json":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}},"post":{"tags":["Semi-Structured Submissions"],"summary":"Edit an existing bird submission","operationId":"editBirdSubmission","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}},"delete":{"tags":["Semi-Structured Submissions"],"summary":"Delete existing bird submissions","operationId":"deleteBirdSubmissions","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/submissions/semi-structured/abiotic":{"get":{"tags":["Semi-Structured Submissions"],"summary":"Get all semi-structured abiotic submissions","operationId":"getAbioticSubmissions","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"put":{"tags":["Semi-Structured Submissions"],"summary":"Insert new abiotic submissions","operationId":"putAbioticSubmissions","requestBody":{"content":{"application/json":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}},"post":{"tags":["Semi-Structured Submissions"],"summary":"Edit an existing abiotic submission","operationId":"editAbioticSubmission","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}},"delete":{"tags":["Semi-Structured Submissions"],"summary":"Delete existing abiotic submissions","operationId":"deleteAbioticSubmissions","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/submissions/pharmaceuticals":{"get":{"tags":["Submissions"],"summary":"Get all pharmaceutical submissions","operationId":"getPharmaceuticalSubmissions_1","parameters":[{"name":"site","in":"query","required":false,"schema":{"type":"string"}},{"name":"start","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"end","in":"query","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PharmaceuticalSubmissionDTO"}}}}}}},"put":{"tags":["Submissions"],"summary":"Insert a new pharmaceutical submission","operationId":"putPharmaceuticalSubmission","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PharmaceuticalSubmissionPutDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/submissions/nutrients":{"get":{"tags":["Submissions"],"summary":"Get all nutrient submissions","operationId":"getNutrientSubmissions_1","parameters":[{"name":"site","in":"query","required":false,"schema":{"type":"string"}},{"name":"start","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"end","in":"query","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/NutrientSubmissionDTO"}}}}}}},"put":{"tags":["Submissions"],"summary":"Insert a new nutrient submission","operationId":"putNutrientSubmission","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NutrientSubmissionPutDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/submissions/minv":{"get":{"tags":["Submissions"],"summary":"Get all minv submissions","operationId":"getMinvSubmissions_1","parameters":[{"name":"site","in":"query","required":false,"schema":{"type":"string"}},{"name":"start","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"end","in":"query","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MinvSubmissionDTO"}}}}}}},"put":{"tags":["Submissions"],"summary":"Insert a new minv submission","operationId":"putMinvSubmission","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MinvSubmissionPutDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/submissions/microbiomes":{"get":{"tags":["Submissions"],"summary":"Get all microbiome submissions","operationId":"getMicrobiomeSubmissions_1","parameters":[{"name":"site","in":"query","required":false,"schema":{"type":"string"}},{"name":"start","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"end","in":"query","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MicrobiomeSubmissionDTO"}}}}}}},"put":{"tags":["Submissions"],"summary":"Insert a new microbiome submission","operationId":"putMicrobiomeSubmission","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MicrobiomeSubmissionPutDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/submissions/fish":{"get":{"tags":["Submissions"],"summary":"Get all fish submissions","operationId":"getFishSubmissions_1","parameters":[{"name":"site","in":"query","required":false,"schema":{"type":"string"}},{"name":"start","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"end","in":"query","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FishSubmissionDTO"}}}}}}},"put":{"tags":["Submissions"],"summary":"Insert a new fish submission","operationId":"putFishSubmission","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FishSubmissionPutDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/submissions/diptera":{"get":{"tags":["Submissions"],"summary":"Get all diptera submissions","operationId":"getDipteraSubmissions_1","parameters":[{"name":"site","in":"query","required":false,"schema":{"type":"string"}},{"name":"start","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"end","in":"query","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DipteraSubmissionDTO"}}}}}}},"put":{"tags":["Submissions"],"summary":"Insert a new diptera submission","operationId":"putDipteraSubmission","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DipteraSubmissionPutDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/submissions/diatoms":{"get":{"tags":["Submissions"],"summary":"Get all diatom submissions","operationId":"getDiatomSubmissions_1","parameters":[{"name":"site","in":"query","required":false,"schema":{"type":"string"}},{"name":"start","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"end","in":"query","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DiatomSubmissionDTO"}}}}}}},"put":{"tags":["Submissions"],"summary":"Insert a new diatom submission","operationId":"putDiatomSubmission","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiatomSubmissionPutDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/submissions/birds":{"get":{"tags":["Submissions"],"summary":"Get all bird submissions","operationId":"getBirdSubmissions_1","parameters":[{"name":"site","in":"query","required":false,"schema":{"type":"string"}},{"name":"start","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"end","in":"query","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BirdSubmissionDTO"}}}}}}},"put":{"tags":["Submissions"],"summary":"Insert a new bird submission","operationId":"putBirdSubmission","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BirdSubmissionPutDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/submissions/abiotic":{"get":{"tags":["Submissions"],"summary":"Get all abiotic submissions","operationId":"getAbioticSubmissions_1","parameters":[{"name":"site","in":"query","required":false,"schema":{"type":"string"}},{"name":"start","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"end","in":"query","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AbioticSubmissionDTO"}}}}}}},"put":{"tags":["Submissions"],"summary":"Insert a new abiotic submission","operationId":"putAbioticSubmission","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AbioticSubmissionPutDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/files":{"get":{"tags":["File Management"],"summary":"Download a file","operationId":"downloadFile","parameters":[{"name":"id","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"byte"}}}}}},"put":{"tags":["File Management"],"summary":"Upload a new file","operationId":"uploadFile","parameters":[{"name":"filename","in":"query","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string","format":"byte"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UploadFileDTO"}}}}}},"delete":{"tags":["File Management"],"summary":"Delete a file","operationId":"deleteFile","parameters":[{"name":"id","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/eo/":{"put":{"tags":["Earth Observation"],"summary":"Submit a new earth observation","operationId":"put","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EarthObservationPutDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"integer","format":"int64"}}}}}}},"/api/dashboards/city":{"get":{"tags":["Dashboards Data"],"operationId":"getAllDashboards","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SiteDashboardGETAllDTO"}}}}}}},"put":{"tags":["Dashboards Data"],"operationId":"putDashboardEntry","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SiteDashboardPUTDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/dashboards/city/batch":{"put":{"tags":["Dashboards Data"],"operationId":"uploadDashboardCSV","requestBody":{"content":{"application/json":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK"}}}},"/api/citizens/user-generated-sites/submit":{"put":{"tags":["User-Generated Sites"],"summary":"Submit a citizen science observation for a personal site","operationId":"submit","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CitizenSubmissionGeneratedSitePutDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/citizens/user-generated-sites/insert":{"put":{"tags":["User-Generated Sites"],"summary":"Insert a new personal site","operationId":"insertSite","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserGeneratedSitePutDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/citizens/submit":{"put":{"tags":["Citizens Science"],"summary":"Submit a citizen science observation","operationId":"submit_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CitizenSubmissionPutDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/annotations/pharmaceuticals":{"get":{"tags":["Annotations"],"summary":"Get all pharmaceutical types","operationId":"getAllPharmaceuticalTypes","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PharmaceuticalTypeDTO"}}}}}}},"put":{"tags":["Annotations"],"summary":"Add a new pharmaceutical type","operationId":"addPharmaceuticalType","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddPharmaceuticalTypeRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}},"post":{"tags":["Annotations"],"summary":"Edit a pharmaceutical type","operationId":"editPharmaceuticalType","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EditPharmaceuticalTypeRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/annotations/pharmaceuticals/batch":{"put":{"tags":["Annotations"],"operationId":"uploadPharmaceuticalsCSV","requestBody":{"content":{"application/json":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK"}}}},"/api/annotations/nutrients":{"get":{"tags":["Annotations"],"summary":"Get all nutrient types","operationId":"getAllNutrientTypes","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/NutrientTypeDTO"}}}}}}},"put":{"tags":["Annotations"],"summary":"Add a new nutrient type","operationId":"addNutrientType","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddNutrientTypeRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}},"post":{"tags":["Annotations"],"summary":"Edit a nutrient type","operationId":"editNutrientType","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EditNutrientTypeRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/annotations/nutrients/batch":{"put":{"tags":["Annotations"],"operationId":"uploadNutrientsCSV","requestBody":{"content":{"application/json":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK"}}}},"/api/annotations/microbiomes/batch":{"put":{"tags":["Annotations"],"summary":"Batch upload microbiome species via CSV","operationId":"uploadMicrobiomeSpeciesCSV","requestBody":{"content":{"application/json":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK"}}}},"/api/annotations/macroinvertebrates/batch":{"put":{"tags":["Annotations"],"summary":"Batch upload macroinvertebrate species via CSV","operationId":"uploadMacroinvertebrateSpeciesCSV","requestBody":{"content":{"application/json":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK"}}}},"/api/annotations/fish/batch":{"put":{"tags":["Annotations"],"summary":"Batch upload fish species via CSV","operationId":"uploadFishSpeciesCSV","requestBody":{"content":{"application/json":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK"}}}},"/api/annotations/diptera/batch":{"put":{"tags":["Annotations"],"summary":"Batch upload diptera species via CSV","operationId":"uploadDipteraSpeciesCSV","requestBody":{"content":{"application/json":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK"}}}},"/api/annotations/diatoms/batch":{"put":{"tags":["Annotations"],"summary":"Batch upload diatom species via CSV","operationId":"uploadDiatomSpeciesCSV","requestBody":{"content":{"application/json":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK"}}}},"/api/annotations/birds/batch":{"put":{"tags":["Annotations"],"summary":"Batch upload bird species via CSV","operationId":"uploadBirdSpeciesCSV","requestBody":{"content":{"application/json":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK"}}}},"/api/annotations/biotic":{"get":{"tags":["Annotations"],"summary":"Get all biotic species","operationId":"getAllBioticTypes","parameters":[{"name":"category","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BioticSpeciesDTO"}}}}}}},"put":{"tags":["Annotations"],"summary":"Add a new biotic species","operationId":"addBioticSpecies","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddBioticSpeciesRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}},"post":{"tags":["Annotations"],"summary":"Edit a biotic species","operationId":"editBioticSpecies","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EditBioticSpeciesRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/annotations/abiotic":{"get":{"tags":["Annotations"],"summary":"Get all abiotic columns","operationId":"getAllAbioticColumns","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AbioticColumnDTO"}}}}}}},"put":{"tags":["Annotations"],"summary":"Add a new abiotic column","operationId":"addAbioticColumn","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddAbioticColumnRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}},"post":{"tags":["Annotations"],"summary":"Edit an abiotic column","operationId":"editAbioticColumn","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EditAbioticColumnRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/annotations/abiotic/batch":{"put":{"tags":["Annotations"],"summary":"Batch upload abiotic columns via CSV","operationId":"uploadAbioticColumnsCSV","requestBody":{"content":{"application/json":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK"}}}},"/api/users/update_password":{"post":{"tags":["Users"],"summary":"Update a user's password","operationId":"adminUpdatePassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserPasswordUpdateDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/users/edit":{"post":{"tags":["Users"],"summary":"Edit an existing user","operationId":"editUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppUserEditDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/users/add_external":{"post":{"tags":["Users"],"summary":"Add a new user with an external ID","operationId":"addUserWithExternalId","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppExternalUserAddDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/users/add":{"post":{"tags":["Users"],"summary":"Add a new user","operationId":"addUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppUserAddDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/submissions/semi-structured/pharmaceuticals/staged":{"get":{"tags":["Semi-Structured Submissions"],"summary":"Get all semi-structured staged pharmaceutical submissions","operationId":"getStagedPharmaceuticalSubmissions","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"post":{"tags":["Semi-Structured Submissions"],"summary":"Edit a staged pharmaceutical submission","operationId":"editStagedPharmaceuticalSubmission","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fileName","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}},"delete":{"tags":["Semi-Structured Submissions"],"summary":"Delete a staged pharmaceutical submission","operationId":"deleteStagedPharmaceuticalSubmission","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fileName","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/submissions/semi-structured/pharmaceuticals/staged/reject":{"post":{"tags":["Semi-Structured Submissions"],"summary":"Reject a staged pharmaceutical submission","operationId":"rejectStagedPharmaceuticalSubmissions","parameters":[{"name":"fileName","in":"query","required":true,"schema":{"type":"string"}},{"name":"rejectionReason","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/submissions/semi-structured/pharmaceuticals/staged/approve":{"post":{"tags":["Semi-Structured Submissions"],"summary":"Approve a staged pharmaceutical submission","operationId":"approveStagedPharmaceuticalSubmissions","parameters":[{"name":"fileName","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/submissions/semi-structured/nutrients/staged":{"get":{"tags":["Semi-Structured Submissions"],"summary":"Get all semi-structured staged nutrient submissions","operationId":"getStagedNutrientSubmissions","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"post":{"tags":["Semi-Structured Submissions"],"summary":"Edit a staged nutrient submission","operationId":"editStagedNutrientSubmission","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fileName","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}},"delete":{"tags":["Semi-Structured Submissions"],"summary":"Delete a staged nutrient submission","operationId":"deleteStagedNutrientSubmission","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fileName","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/submissions/semi-structured/nutrients/staged/reject":{"post":{"tags":["Semi-Structured Submissions"],"summary":"Reject a staged nutrient submission","operationId":"rejectStagedNutrientSubmissions","parameters":[{"name":"fileName","in":"query","required":true,"schema":{"type":"string"}},{"name":"rejectionReason","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/submissions/semi-structured/nutrients/staged/approve":{"post":{"tags":["Semi-Structured Submissions"],"summary":"Approve a staged nutrient submission","operationId":"approveStagedNutrientSubmissions","parameters":[{"name":"fileName","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/submissions/semi-structured/minv/staged":{"get":{"tags":["Semi-Structured Submissions"],"summary":"Get all semi-structured staged minv submissions","operationId":"getStagedMinvSubmissions","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"post":{"tags":["Semi-Structured Submissions"],"summary":"Edit a staged minv submission","operationId":"editStagedMinvSubmission","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fileName","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}},"delete":{"tags":["Semi-Structured Submissions"],"summary":"Delete a staged minv submission","operationId":"deleteStagedMinvSubmission","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fileName","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/submissions/semi-structured/minv/staged/reject":{"post":{"tags":["Semi-Structured Submissions"],"summary":"Reject a staged minv submission","operationId":"rejectStagedMinvSubmissions","parameters":[{"name":"fileName","in":"query","required":true,"schema":{"type":"string"}},{"name":"rejectionReason","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/submissions/semi-structured/minv/staged/approve":{"post":{"tags":["Semi-Structured Submissions"],"summary":"Approve a staged minv submission","operationId":"approveStagedMinvSubmissions","parameters":[{"name":"fileName","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/submissions/semi-structured/microbiomes/staged":{"get":{"tags":["Semi-Structured Submissions"],"summary":"Get all semi-structured staged microbiome submissions","operationId":"getStagedMicrobiomeSubmissions","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"post":{"tags":["Semi-Structured Submissions"],"summary":"Edit a staged microbiome submission","operationId":"editStagedMicrobiomeSubmission","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fileName","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}},"delete":{"tags":["Semi-Structured Submissions"],"summary":"Delete a staged microbiome submission","operationId":"deleteStagedMicrobiomeSubmission","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fileName","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/submissions/semi-structured/microbiomes/staged/reject":{"post":{"tags":["Semi-Structured Submissions"],"summary":"Reject a staged microbiome submission","operationId":"rejectStagedMicrobiomeSubmissions","parameters":[{"name":"fileName","in":"query","required":true,"schema":{"type":"string"}},{"name":"rejectionReason","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/submissions/semi-structured/microbiomes/staged/approve":{"post":{"tags":["Semi-Structured Submissions"],"summary":"Approve a staged microbiome submission","operationId":"approveStagedMicrobiomeSubmissions","parameters":[{"name":"fileName","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/submissions/semi-structured/fish/staged":{"get":{"tags":["Semi-Structured Submissions"],"summary":"Get all semi-structured staged fish submissions","operationId":"getStagedFishSubmissions","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"post":{"tags":["Semi-Structured Submissions"],"summary":"Edit a staged fish submission","operationId":"editStagedFishSubmission","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fileName","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}},"delete":{"tags":["Semi-Structured Submissions"],"summary":"Delete a staged fish submission","operationId":"deleteStagedFishSubmission","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fileName","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/submissions/semi-structured/fish/staged/reject":{"post":{"tags":["Semi-Structured Submissions"],"summary":"Reject a staged fish submission","operationId":"rejectStagedFishSubmissions","parameters":[{"name":"fileName","in":"query","required":true,"schema":{"type":"string"}},{"name":"rejectionReason","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/submissions/semi-structured/fish/staged/approve":{"post":{"tags":["Semi-Structured Submissions"],"summary":"Approve a staged fish submission","operationId":"approveStagedFishSubmissions","parameters":[{"name":"fileName","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/submissions/semi-structured/diptera/staged":{"get":{"tags":["Semi-Structured Submissions"],"summary":"Get all semi-structured staged diptera submissions","operationId":"getStagedDipteraSubmissions","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"post":{"tags":["Semi-Structured Submissions"],"summary":"Edit a staged diptera submission","operationId":"editStagedDipteraSubmission","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fileName","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}},"delete":{"tags":["Semi-Structured Submissions"],"summary":"Delete a staged diptera submission","operationId":"deleteStagedDipteraSubmission","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fileName","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/submissions/semi-structured/diptera/staged/reject":{"post":{"tags":["Semi-Structured Submissions"],"summary":"Reject a staged diptera submission","operationId":"rejectStagedDipteraSubmissions","parameters":[{"name":"fileName","in":"query","required":true,"schema":{"type":"string"}},{"name":"rejectionReason","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/submissions/semi-structured/diptera/staged/approve":{"post":{"tags":["Semi-Structured Submissions"],"summary":"Approve a staged diptera submission","operationId":"approveStagedDipteraSubmissions","parameters":[{"name":"fileName","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/submissions/semi-structured/diatoms/staged":{"get":{"tags":["Semi-Structured Submissions"],"summary":"Get all semi-structured staged diatom submissions","operationId":"getStagedDiatomSubmissions","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"post":{"tags":["Semi-Structured Submissions"],"summary":"Edit a staged diatom submission","operationId":"editStagedDiatomSubmission","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fileName","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}},"delete":{"tags":["Semi-Structured Submissions"],"summary":"Delete a staged diatom submission","operationId":"deleteStagedDiatomSubmission","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fileName","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/submissions/semi-structured/diatoms/staged/reject":{"post":{"tags":["Semi-Structured Submissions"],"summary":"Reject a staged diatom submission","operationId":"rejectStagedDiatomSubmissions","parameters":[{"name":"fileName","in":"query","required":true,"schema":{"type":"string"}},{"name":"rejectionReason","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/submissions/semi-structured/diatoms/staged/approve":{"post":{"tags":["Semi-Structured Submissions"],"summary":"Approve a staged diatom submission","operationId":"approveStagedDiatomSubmissions","parameters":[{"name":"fileName","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/submissions/semi-structured/birds/staged":{"get":{"tags":["Semi-Structured Submissions"],"summary":"Get all semi-structured staged bird submissions","operationId":"getStagedBirdSubmissions","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"post":{"tags":["Semi-Structured Submissions"],"summary":"Edit a staged bird submission","operationId":"editStagedBirdSubmission","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fileName","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}},"delete":{"tags":["Semi-Structured Submissions"],"summary":"Delete a staged bird submission","operationId":"deleteStagedBirdSubmission","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fileName","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/submissions/semi-structured/birds/staged/reject":{"post":{"tags":["Semi-Structured Submissions"],"summary":"Reject a staged bird submission","operationId":"rejectStagedBirdSubmissions","parameters":[{"name":"fileName","in":"query","required":true,"schema":{"type":"string"}},{"name":"rejectionReason","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/submissions/semi-structured/birds/staged/approve":{"post":{"tags":["Semi-Structured Submissions"],"summary":"Approve a staged bird submission","operationId":"approveStagedBirdSubmissions","parameters":[{"name":"fileName","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/submissions/semi-structured/abiotic/staged":{"get":{"tags":["Semi-Structured Submissions"],"summary":"Get all semi-structured staged abiotic submissions","operationId":"getStagedAbioticSubmissions","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"post":{"tags":["Semi-Structured Submissions"],"summary":"Edit a staged abiotic submission","operationId":"editStagedAbioticSubmission","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fileName","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}},"delete":{"tags":["Semi-Structured Submissions"],"summary":"Delete a staged abiotic submission","operationId":"deleteStagedAbioticSubmission","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fileName","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/submissions/semi-structured/abiotic/staged/reject":{"post":{"tags":["Semi-Structured Submissions"],"summary":"Reject a staged abiotic submission","operationId":"rejectStagedAbioticSubmissions","parameters":[{"name":"fileName","in":"query","required":true,"schema":{"type":"string"}},{"name":"rejectionReason","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/submissions/semi-structured/abiotic/staged/approve":{"post":{"tags":["Semi-Structured Submissions"],"summary":"Approve a staged abiotic submission","operationId":"approveStagedAbioticSubmissions","parameters":[{"name":"fileName","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/submissions/pharmaceuticals/{id}":{"post":{"tags":["Submissions"],"summary":"Edit an existing pharmaceutical submission","operationId":"editPharmaceuticalSubmission_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PharmaceuticalSubmissionPostDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}},"delete":{"tags":["Submissions"],"summary":"Delete an existing pharmaceutical submission","operationId":"deletePharmaceuticalSubmission","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/api/submissions/nutrients/{id}":{"post":{"tags":["Submissions"],"summary":"Edit an existing nutrient submission","operationId":"editNutrientSubmission_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NutrientSubmissionPostDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}},"delete":{"tags":["Submissions"],"summary":"Delete an existing nutrient submission","operationId":"deleteNutrientSubmission","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/api/submissions/minv/{id}":{"post":{"tags":["Submissions"],"summary":"Edit an existing minv submission","operationId":"editMinvSubmission_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MinvSubmissionPostDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}},"delete":{"tags":["Submissions"],"summary":"Delete an existing minv submission","operationId":"deleteMinvSubmission","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/api/submissions/microbiomes/{id}":{"post":{"tags":["Submissions"],"summary":"Edit an existing microbiome submission","operationId":"editMicrobiomeSubmission_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MicrobiomeSubmissionPostDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}},"delete":{"tags":["Submissions"],"summary":"Delete an existing microbiome submission","operationId":"deleteMicrobiomeSubmission","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/api/submissions/fish/{id}":{"post":{"tags":["Submissions"],"summary":"Edit an existing fish submission","operationId":"editFishSubmission_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FishSubmissionPostDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}},"delete":{"tags":["Submissions"],"summary":"Delete an existing fish submission","operationId":"deleteFishSubmission","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/api/submissions/diptera/{id}":{"post":{"tags":["Submissions"],"summary":"Edit an existing diptera submission","operationId":"postDipteraSubmission","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DipteraSubmissionPostDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}},"delete":{"tags":["Submissions"],"summary":"Delete an existing diptera submission","operationId":"deleteDipteraSubmission","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/api/submissions/diatoms/{id}":{"post":{"tags":["Submissions"],"summary":"Edit an existing diatom submission","operationId":"postDiatomSubmission","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiatomSubmissionPostDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}},"delete":{"tags":["Submissions"],"summary":"Delete an existing diatom submission","operationId":"deleteDiatomSubmission","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/api/submissions/birds/{id}":{"post":{"tags":["Submissions"],"summary":"Edit an existing bird submission","operationId":"editBirdSubmission_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BirdSubmissionPostDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}},"delete":{"tags":["Submissions"],"summary":"Delete an existing bird submission","operationId":"deleteBirdSubmission","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/api/submissions/abiotic/{id}":{"post":{"tags":["Submissions"],"summary":"Edit an existing abiotic submission","operationId":"editAbioticSubmission_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AbioticSubmissionPostDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}},"delete":{"tags":["Submissions"],"summary":"Delete an existing abiotic submission","operationId":"deleteAbioticSubmission","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/api/expert-dashboards/timeline/pharmaceutical":{"post":{"tags":["Expert Dashboards"],"summary":"Timeline of a pharmaceutical variable","description":"Returns the monthly timeline of a pharmaceutical variable for a research site between two dates.","operationId":"getPharmaceuticalTimeline","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TimelineRequestOldDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TimelineResponseOldDTO"}}}}}}},"/api/expert-dashboards/timeline/nutrient":{"post":{"tags":["Expert Dashboards"],"summary":"Timeline of a nutrient variable","description":"Returns the monthly timeline of a nutrient variable for a research site between two dates.","operationId":"getNutrientTimeline","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TimelineRequestOldDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TimelineResponseOldDTO"}}}}}}},"/api/expert-dashboards/timeline/microbiome":{"post":{"tags":["Expert Dashboards"],"summary":"Timeline of a microbiome variable","description":"Returns the monthly timeline of a microbiome variable for a research site between two dates.","operationId":"getMicrobiomeTimeline","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TimelineRequestOldDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TimelineResponseOldDTO"}}}}}}},"/api/expert-dashboards/timeline/macroinvertebrate":{"post":{"tags":["Expert Dashboards"],"summary":"Timeline of a macroinvertebrate variable","description":"Returns the monthly timeline of a macroinvertebrate variable for a research site between two dates.","operationId":"getMinvTimeline","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TimelineRequestOldDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TimelineResponseOldDTO"}}}}}}},"/api/expert-dashboards/timeline/fish":{"post":{"tags":["Expert Dashboards"],"summary":"Timeline of a fish variable","description":"Returns the monthly timeline of a fish variable for a research site between two dates.","operationId":"getFishTimeline","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TimelineRequestOldDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TimelineResponseOldDTO"}}}}}}},"/api/expert-dashboards/timeline/diptera":{"post":{"tags":["Expert Dashboards"],"summary":"Timeline of a diptera variable","description":"Returns the monthly timeline of a diptera variable for a research site between two dates.","operationId":"getDipteraTimeline","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TimelineRequestOldDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TimelineResponseOldDTO"}}}}}}},"/api/expert-dashboards/timeline/diatom":{"post":{"tags":["Expert Dashboards"],"operationId":"getDiatomTimeline","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TimelineRequestOldDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TimelineResponseOldDTO"}}}}}}},"/api/expert-dashboards/timeline/bird":{"post":{"tags":["Expert Dashboards"],"operationId":"getBirdTimeline","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TimelineRequestOldDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TimelineResponseOldDTO"}}}}}}},"/api/expert-dashboards/semi-structured/site/simpsons_index":{"post":{"tags":["Semi-Structured Expert Dashboards"],"summary":"Calculate Simpson's Diversity Index for a research site","operationId":"simpsonsIndexBySite","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SimpsonsDiversityRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SimpsonsDataSiteResponseDTO"}}}}}}},"/api/expert-dashboards/semi-structured/site/shannon_wiener_index":{"post":{"tags":["Semi-Structured Expert Dashboards"],"summary":"Calculate Shannon-Wiener Index for a research site","operationId":"shannonWienerIndexBySite","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShannonWienerRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShannonWienerDataSiteResponseDTO"}}}}}}},"/api/expert-dashboards/semi-structured/site/pielou_index":{"post":{"tags":["Semi-Structured Expert Dashboards"],"summary":"Calculate Pielou's Evenness Index for a research site","operationId":"pielouIndexBySite","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PielouRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PielouDataSiteResponseDTO"}}}}}}},"/api/expert-dashboards/semi-structured/site/margalef_index":{"post":{"tags":["Semi-Structured Expert Dashboards"],"summary":"Calculate Margalef's Index for a research site","operationId":"margalefIndexBySite","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MargalefRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MargalefDataSiteResponseDTO"}}}}}}},"/api/dashboards/status_of_nitrate/site":{"post":{"tags":["Dashboards Data"],"operationId":"statusOfNitrateSite","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardSiteRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BarChartSiteDTO"}}}}}}},"/api/dashboards/status_of_nitrate/city":{"post":{"tags":["Dashboards Data"],"operationId":"statusOfNitrateCity","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardCityRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BarChartCityDTO"}}}}}}},"/api/dashboards/species_richness/site":{"post":{"tags":["Dashboards Data"],"operationId":"speciesRichnessSite","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardSiteRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/BarChartSiteDTO"}}}}}}}},"/api/dashboards/species_richness/city":{"post":{"tags":["Dashboards Data"],"operationId":"speciesRichnessCity","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardCityRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/BarChartCityDTO"}}}}}}}},"/api/dashboards/simpsons_index/site":{"post":{"tags":["Dashboards Data"],"operationId":"simpsonsIndexSite","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardSiteRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/BarChartSiteDTO"}}}}}}}},"/api/dashboards/simpsons_index/city":{"post":{"tags":["Dashboards Data"],"operationId":"simpsonsIndexCity","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardCityRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/BarChartCityDTO"}}}}}}}},"/api/dashboards/shannon_index/site":{"post":{"tags":["Dashboards Data"],"operationId":"shannonIndexSite","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardSiteRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/BarChartSiteDTO"}}}}}}}},"/api/dashboards/shannon_index/city":{"post":{"tags":["Dashboards Data"],"operationId":"shannonIndexCity","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardCityRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/BarChartCityDTO"}}}}}}}},"/api/dashboards/semi-structured/site":{"post":{"tags":["Semi-Structured City Dashboards"],"summary":"Get city dashboard data by site","operationId":"cityDashboardBySite","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SemiStructuresDashboardRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PerMonthDataResponseDTO"}}}}}}},"/api/dashboards/pielou_index/site":{"post":{"tags":["Dashboards Data"],"operationId":"pielouIndexSite","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardSiteRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/BarChartSiteDTO"}}}}}}}},"/api/dashboards/pielou_index/city":{"post":{"tags":["Dashboards Data"],"operationId":"pielouIndexCity","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardCityRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/BarChartCityDTO"}}}}}}}},"/api/dashboards/margalef_index/site":{"post":{"tags":["Dashboards Data"],"operationId":"margalefIndexSite","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardSiteRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/BarChartSiteDTO"}}}}}}}},"/api/dashboards/margalef_index/city":{"post":{"tags":["Dashboards Data"],"operationId":"margalefIndexCity","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardCityRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/BarChartCityDTO"}}}}}}}},"/api/dashboards/city/{id}":{"post":{"tags":["Dashboards Data"],"operationId":"updateDashboardEntry","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SiteDashboardPUTDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}},"delete":{"tags":["Dashboards Data"],"operationId":"deleteDashboardEntry","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/api/citizens/user-generated-sites/submission/{id}":{"get":{"tags":["User-Generated Sites"],"summary":"Get a single citizen science observation for a personal site","operationId":"getSubmission","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CitizenSubmissionGeneratedSiteGetDTO"}}}}}},"post":{"tags":["User-Generated Sites"],"summary":"Edit a citizen science observation for a personal site","operationId":"editSubmission","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CitizenSubmissionGeneratedSitePostDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}},"delete":{"tags":["User-Generated Sites"],"summary":"Delete a citizen science observation for a personal site","operationId":"deleteSubmission","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/api/auth/login":{"post":{"tags":["Authentication"],"summary":"Login endpoint","description":"Authenticates a user based on their credentials and returns a JWT token in response.","operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/users/roles":{"get":{"tags":["Users"],"summary":"Get all user roles","operationId":"getAllUserRoles","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserRoleDTO"}}}}}}}},"/api/users/get/{username}":{"get":{"tags":["Users"],"summary":"Get an existing user","operationId":"getUser","parameters":[{"name":"username","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AppUserEditDTO"}}}}}}},"/api/users/all":{"get":{"tags":["Users"],"summary":"Get all users","operationId":"getAllUsers","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AppUserDTO"}}}}}}}},"/api/submissions/semi-structured/rejected":{"get":{"tags":["Semi-Structured Submissions"],"summary":"Get all rejected submissions","operationId":"getRejectedSubmissions","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RejectedSubmissionDTO"}}}}}}}},"/api/submissions/semi-structured/pharmaceuticals/form":{"get":{"tags":["Semi-Structured Submissions"],"summary":"Prepare pharmaceutical submission form","operationId":"getPharmaceuticalForm","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"binary"}}}}}}},"/api/submissions/semi-structured/pending":{"get":{"tags":["Semi-Structured Submissions"],"summary":"Get all pending submissions","operationId":"getPendingSubmissions","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PendingSubmissionDTO"}}}}}}}},"/api/submissions/semi-structured/nutrients/form":{"get":{"tags":["Semi-Structured Submissions"],"summary":"Prepare nutrient submission form","operationId":"getNutrientForm","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"binary"}}}}}}},"/api/submissions/semi-structured/minv/form":{"get":{"tags":["Semi-Structured Submissions"],"summary":"Prepare minv submission form","operationId":"getMinvForm","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"binary"}}}}}}},"/api/submissions/semi-structured/microbiomes/form":{"get":{"tags":["Semi-Structured Submissions"],"summary":"Prepare microbiome submission form","operationId":"getMicrobiomeForm","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"binary"}}}}}}},"/api/submissions/semi-structured/fish/form":{"get":{"tags":["Semi-Structured Submissions"],"summary":"Prepare fish submission form","operationId":"getFishForm","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"binary"}}}}}}},"/api/submissions/semi-structured/diptera/form":{"get":{"tags":["Semi-Structured Submissions"],"summary":"Prepare diptera submission form","operationId":"getDipteraForm","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"binary"}}}}}}},"/api/submissions/semi-structured/diatoms/form":{"get":{"tags":["Semi-Structured Submissions"],"summary":"Prepare diatom submission form","operationId":"getDiatomForm","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"binary"}}}}}}},"/api/submissions/semi-structured/birds/form":{"get":{"tags":["Semi-Structured Submissions"],"summary":"Prepare bird submission form","operationId":"getBirdForm","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"binary"}}}}}}},"/api/submissions/semi-structured/approved":{"get":{"tags":["Semi-Structured Submissions"],"summary":"Get all approved submissions","operationId":"getApprovedSubmissions","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApprovedSubmissionDTO"}}}}}}}},"/api/submissions/semi-structured/abiotic/form":{"get":{"tags":["Semi-Structured Submissions"],"summary":"Prepare abiotic submission form","operationId":"getAbioticForm","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"binary"}}}}}}},"/api/sites/user-generated":{"get":{"tags":["Research Sites"],"summary":"Get all user generated sites","operationId":"getUserGeneratedSites","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserSiteDTO"}}}}}}}},"/api/sites/city/{cityId}":{"get":{"tags":["Research Sites"],"summary":"Get all research sites in a city","operationId":"getByCity","parameters":[{"name":"cityId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ResearchSiteDTO"}}}}}}}},"/api/sites/all":{"get":{"tags":["Research Sites"],"summary":"Get all research sites","operationId":"getAll","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ResearchSiteDTO"}}}}}}}},"/api/resilience-map/weather":{"get":{"tags":["Resilience Map"],"summary":"Get weather data for a research site","operationId":"getWeather","parameters":[{"name":"siteCode","in":"query","required":true,"schema":{"type":"string"}},{"name":"start","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"end","in":"query","required":true,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/WeatherObservationDto"}}}}}}}},"/api/resilience-map/weather/temperature/summary":{"get":{"tags":["Resilience Map"],"summary":"Get temperature summary statistics for a research site","operationId":"getTemperatureSummary","parameters":[{"name":"siteCode","in":"query","required":true,"schema":{"type":"string"}},{"name":"start","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"end","in":"query","required":true,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TemperatureSummaryResponse"}}}}}}},"/api/resilience-map/weather/temperature/hot-days":{"get":{"tags":["Resilience Map"],"summary":"Count hot days for a research site","operationId":"getHotDays","parameters":[{"name":"siteCode","in":"query","required":true,"schema":{"type":"string"}},{"name":"start","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"end","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"thresholdC","in":"query","required":false,"schema":{"type":"number","format":"double","default":30.0}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HotDaysResponse"}}}}}}},"/api/resilience-map/weather/temperature/heatwaves":{"get":{"tags":["Resilience Map"],"summary":"Count heatwave events for a research site","operationId":"getHeatwaveEvents","parameters":[{"name":"siteCode","in":"query","required":true,"schema":{"type":"string"}},{"name":"start","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"end","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"thresholdC","in":"query","required":false,"schema":{"type":"number","format":"double","default":30.0}},{"name":"minDurationDays","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":3}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HeatwaveEventsResponse"}}}}}}},"/api/resilience-map/weather/precipitation/wet-days":{"get":{"tags":["Resilience Map"],"summary":"Count wet days for a research site","operationId":"getWetDays","parameters":[{"name":"siteCode","in":"query","required":true,"schema":{"type":"string"}},{"name":"start","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"end","in":"query","required":true,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WetDaysResponse"}}}}}}},"/api/resilience-map/weather/precipitation/summary":{"get":{"tags":["Resilience Map"],"summary":"Get precipitation summary statistics for a research site","operationId":"getPrecipitationSummary","parameters":[{"name":"siteCode","in":"query","required":true,"schema":{"type":"string"}},{"name":"start","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"end","in":"query","required":true,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrecipitationSummaryResponse"}}}}}}},"/api/resilience-map/weather/precipitation/longest-dry-spell":{"get":{"tags":["Resilience Map"],"summary":"Get the longest consecutive dry spell for a research site","operationId":"getLongestDrySpell","parameters":[{"name":"siteCode","in":"query","required":true,"schema":{"type":"string"}},{"name":"start","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"end","in":"query","required":true,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LongestDrySpellResponse"}}}}}}},"/api/resilience-map/weather/precipitation/heavy-rain-days":{"get":{"tags":["Resilience Map"],"summary":"Count heavy rain days for a research site","operationId":"getHeavyRainDays","parameters":[{"name":"siteCode","in":"query","required":true,"schema":{"type":"string"}},{"name":"start","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"end","in":"query","required":true,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HeavyRainDaysResponse"}}}}}}},"/api/resilience-map/weather/precipitation/dry-days":{"get":{"tags":["Resilience Map"],"summary":"Count dry days for a research site","operationId":"getDryDays","parameters":[{"name":"siteCode","in":"query","required":true,"schema":{"type":"string"}},{"name":"start","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"end","in":"query","required":true,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DryDaysResponse"}}}}}}},"/api/resilience-map/urban/{siteCode}":{"get":{"tags":["Resilience Map"],"summary":"Get urban parameters for a site","operationId":"getUrbanParametersForSite","parameters":[{"name":"siteCode","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UrbanParametersResponse"}}}}}}}},"/api/resilience-map/urban-parameters":{"get":{"tags":["Resilience Map"],"summary":"Get all urban parameters","operationId":"getUrbanParameters","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UrbanParametersResponse"}}}}}}}},"/api/resilience-map/health/{siteCode}":{"get":{"tags":["Resilience Map"],"summary":"Get health risk series for a site","operationId":"getHealthRisksForSite","parameters":[{"name":"siteCode","in":"path","required":true,"schema":{"type":"string"}},{"name":"start","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"end","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"params","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResilienceMapHealthSeriesResponse"}}}}}}},"/api/resilience-map/health/available-dates/{siteCode}":{"get":{"tags":["Resilience Map"],"summary":"Get available health risk dates for a site","operationId":"getHealthRisksAvailableDatesForSite","parameters":[{"name":"siteCode","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HealthRiskAvailableDatesResponse"}}}}}}},"/api/resilience-map/health-risks":{"get":{"tags":["Resilience Map"],"summary":"Get all health risks","operationId":"getHealthRisks","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/HealthRiskResponse"}}}}}}}},"/api/resilience-map/health-indicators/nitrates/{siteCode}":{"get":{"tags":["Resilience Map"],"summary":"Get nitrate health indicator series for a site","operationId":"getHealthIndicatorNitratesForSite","parameters":[{"name":"siteCode","in":"path","required":true,"schema":{"type":"string"}},{"name":"start","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"end","in":"query","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HealthIndicatorNitrateSeriesResponse"}}}}}}},"/api/resilience-map/health-indicators/nitrates/available-dates/{siteCode}":{"get":{"tags":["Resilience Map"],"summary":"Get available nitrate health indicator dates for a site","operationId":"getNitrateAvailableDatesForSite","parameters":[{"name":"siteCode","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HealthIndicatorNitrateAvailableDatesResponse"}}}}}}},"/api/helper/earliest_submission":{"get":{"tags":["Helper Endpoints"],"summary":"Get the date of the earliest environmental submission","operationId":"earliestSubmission","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"date-time"}}}}}}},"/api/expert-dashboards/categories":{"get":{"tags":["Expert Dashboards"],"summary":"Data categories","description":"Returns the available data categories.","operationId":"getCategories","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/api/eo/{id}":{"get":{"tags":["Earth Observation"],"summary":"Get an earth observation by ID","operationId":"getEarthObservationById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EarthObservationGetDTO"}}}}}}},"/api/dashboards/city/{siteCode}":{"get":{"tags":["Dashboards Data"],"operationId":"getDashboardsBySite","parameters":[{"name":"siteCode","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SiteDashboardGETDTO"}}}}}}}},"/api/citizens/water_flows":{"get":{"tags":["Citizens Science"],"summary":"Get all water flow types","operationId":"waterFlows","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/WaterFlowDTO"}}}}}}}},"/api/citizens/water_colors":{"get":{"tags":["Citizens Science"],"summary":"Get all water color types","operationId":"waterColors","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/WaterColorDTO"}}}}}}}},"/api/citizens/vegetation_types":{"get":{"tags":["Citizens Science"],"summary":"Get all vegetation types","operationId":"vegetationTypes","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CitizenVegetationTypeDTO"}}}}}}}},"/api/citizens/user-generated-sites/submission/submissions_of_external_user/{externalId}":{"get":{"tags":["User-Generated Sites"],"summary":"Get all citizen science observations for a personal site that correspond to an external user","operationId":"getSubmissionsOfExternalUser","parameters":[{"name":"externalId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CitizenSubmissionGeneratedSiteGetDTO"}}}}}}}},"/api/citizens/user-generated-sites/my-submissions":{"get":{"tags":["User-Generated Sites"],"summary":"Get all citizen science observations for personal sites","operationId":"getMySubmissions","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CitizenSubmissionGeneratedSiteGetDTO"}}}}}}}},"/api/citizens/user-generated-sites/my-sites":{"get":{"tags":["User-Generated Sites"],"summary":"Get all personal sites","operationId":"getMySites","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserGeneratedSiteDTO"}}}}}}}},"/api/citizens/user-generated-sites/all-submissions":{"get":{"tags":["User-Generated Sites"],"summary":"Get all citizen science observations for personal sites and for all users","operationId":"getAllSubmissions","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CitizenSubmissionGeneratedSiteGetDTO"}}}}}}}},"/api/citizens/submissions_of_external_user/{externalId}":{"get":{"tags":["Citizens Science"],"summary":"Get all citizen science observations that correspond to an external user","operationId":"getSubmissionsOfExternalUser_1","parameters":[{"name":"externalId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CitizenSubmissionGetDTO"}}}}}}}},"/api/citizens/submissions":{"get":{"tags":["Citizens Science"],"summary":"Get all citizen science observations","operationId":"getSubmissions","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CitizenSubmissionGetDTO"}}}}}}}},"/api/citizens/submission/{id}":{"get":{"tags":["Citizens Science"],"summary":"Get a single citizen science observation","operationId":"getSubmission_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CitizenSubmissionGetDTO"}}}}}}},"/api/citizens/stream_assessments":{"get":{"tags":["Citizens Science"],"summary":"Get all stream assessments","operationId":"streamAssessments","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StreamAssessmentDTO"}}}}}}}},"/api/citizens/habitats":{"get":{"tags":["Citizens Science"],"summary":"Get all habitats","operationId":"habitats","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/HabitatDTO"}}}}}}}},"/api/citizens/fallen_biomass":{"get":{"tags":["Citizens Science"],"summary":"Get all fallen biomass types","operationId":"fallenBiomass","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FallenBiomassDTO"}}}}}}}},"/api/citizens/channel_types":{"get":{"tags":["Citizens Science"],"summary":"Get all channel types","operationId":"channelTypes","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ChannelTypeDTO"}}}}}}}},"/api/citizens/channel_forms":{"get":{"tags":["Citizens Science"],"summary":"Get all channel forms","operationId":"channelForms","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ChannelFormDTO"}}}}}}}},"/api/citizens/bank_types":{"get":{"tags":["Citizens Science"],"summary":"Get all bank types","operationId":"bankTypes","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BankTypeDTO"}}}}}}}},"/api/cities/all":{"get":{"tags":["Cities"],"summary":"Get all cities","operationId":"getAll_1","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CityDTO"}}}}}}}},"/api/chart-data/scatter":{"get":{"tags":["Chart Data"],"summary":"Get some demo scatter plot data","operationId":"getScatter","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ScatterPlotData"}}}}}}},"/api/chart-data/matrix":{"get":{"tags":["Chart Data"],"summary":"Get some demo correlation matrix data","operationId":"getMatrix","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CorrelationMatrixData"}}}}}}},"/api/chart-data/line":{"get":{"tags":["Chart Data"],"summary":"Get some demo line chart data","operationId":"getLine","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LineChartData"}}}}}}},"/api/chart-data/box":{"get":{"tags":["Chart Data"],"summary":"Get some demo box plot data","operationId":"getBox","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BoxPlotData"}}}}}}},"/api/chart-data/bar":{"get":{"tags":["Chart Data"],"summary":"Get some demo bar chart data","operationId":"getBar","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BarChartData"}}}}}}},"/api/annotations/vegetation_types":{"get":{"tags":["Annotations"],"summary":"Get all vegetation types","operationId":"getAllVegetationTypes","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/VegetationTypeDTO"}}}}}}}},"/api/annotations/microbiomes":{"get":{"tags":["Annotations"],"summary":"Get all microbiomes species","operationId":"getAllMicrobioticSpecies","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MicrobiomeSpeciesDTO"}}}}}}}},"/api/annotations/macroinvertebrates":{"get":{"tags":["Annotations"],"summary":"Get all minv species","operationId":"getAllMinvSpecies","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MinvSpeciesDTO"}}}}}}}},"/api/annotations/land_uses":{"get":{"tags":["Annotations"],"summary":"Get all abiotic land uses","operationId":"getAllLandUses","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AbioticLandUseDTO"}}}}}}}},"/api/annotations/flow_types":{"get":{"tags":["Annotations"],"summary":"Get all abiotic flow types","operationId":"getAllFlowTypes","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AbioticFlowTypeDTO"}}}}}}}},"/api/annotations/fish":{"get":{"tags":["Annotations"],"summary":"Get all fish species","operationId":"getAllFishSpecies","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FishSpeciesDTO"}}}}}}}},"/api/annotations/diptera":{"get":{"tags":["Annotations"],"summary":"Get all diptera species","operationId":"getAllDipteraSpecies","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DipteraSpeciesDTO"}}}}}}}},"/api/annotations/diatoms":{"get":{"tags":["Annotations"],"summary":"Get all diatoms species","operationId":"getAllDiatomsSpecies","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DiatomSpeciesDTO"}}}}}}}},"/api/annotations/channel_vegetation_types":{"get":{"tags":["Annotations"],"summary":"Get all channel vegetation types","operationId":"getAllChannelVegetationTypes","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ChannelVegetationTypeDTO"}}}}}}}},"/api/annotations/channel_substrates":{"get":{"tags":["Annotations"],"summary":"Get all abiotic channel substrates","operationId":"getAllChannelSubstrates","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AbioticChannelSubstrateDTO"}}}}}}}},"/api/annotations/birds":{"get":{"tags":["Annotations"],"summary":"Get all bird species","operationId":"getAllBirdSpecies","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BirdSpeciesDTO"}}}}}}}},"/api/annotations/biotic/categories":{"get":{"tags":["Annotations"],"summary":"Get all biotic categories","operationId":"getAllBioticCategories","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BioticCategoryDTO"}}}}}}}},"/api/annotations/bank_substrates":{"get":{"tags":["Annotations"],"summary":"Get all abiotic bank substrates","operationId":"getAllBankSubstrates","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AbioticBankSubstrateDTO"}}}}}}}},"/api/annotations/artificial_structures":{"get":{"tags":["Annotations"],"summary":"Get all artificial structures","operationId":"getAllArtificialStructures","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ArtificialStructureDTO"}}}}}}}},"/api/annotations/pharmaceuticals/{code}":{"delete":{"tags":["Annotations"],"summary":"Delete a pharmaceutical type by code","operationId":"deletePharmaceuticalType","parameters":[{"name":"code","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/api/annotations/nutrients/{code}":{"delete":{"tags":["Annotations"],"summary":"Delete a nutrient type by code","operationId":"deleteNutrientType","parameters":[{"name":"code","in":"path","required":true,"schema":{"type":"s
[...]
